<div flex layout="row"  layout-sm="column" layout-align="top left">
  <div >
      <md-card>
        <md-toolbar class="md-table-toolbar md-default" >
          <div class="md-toolbar-tools" layout-align="center center">
            <span>APM Management</span>
          </div>
        </md-toolbar>
        <form name="apmconfigform" >
          <div layout="column " layout-align="center center">
              <md-input-container class="md-block" flex-gt-xs>
                <label>APM IP:</label>
                <input ng-model="apm.ip" required >
            </md-input-container>
            <md-input-container class="md-block" flex-gt-xs>
                <label>APM Username:</label>
                <input ng-model="apm.username" required>
            </md-input-container>
            <md-input-container class="md-block" flex-gt-xs>
                <label>APM Password:</label>
                <input type="password" ng-model="apm.password" required >
            </md-input-container>
            <div flex="nogrow" layout-align="center center">
              <md-button type="submit" class="md-primary" ng-class="{'md-raised md-hue-1': (apmconfigform.$dirty && apmconfigform.$valid) }" ng-click="apmconfigform.$valid && changeapmconfig(apmconfigform)">Update APM config
              </md-button>
            </div>
          </div>
        </form>
      </md-card>
  </div>
  <div>
    <md-card  style="min-width:0px;">
      <md-toolbar   class="md-table-toolbar md-default" >
        <div class="md-toolbar-tools" >
            <span>Bulk changes</span>
            <span flex></span>
            <md-progress-circular md-diameter='50%' md-mode="indeterminate" ng-hide="progressbar"></md-progress-circular>
        </div>
      </md-toolbar>
      <md-content  flex="auto" layout-padding>
        <span>Bulk download from APM<span>
        <md-button class="md-icon-button" aria-label="Pull from APM" ng-click="showConfirmbulkapmpull($event)">
          <md-tooltip>Pull from APM</md-tooltip>
          <md-icon style="color:rgb(63,81,181);font:bold;">&#xE2C4;</md-icon>
        </md-button>
      </md-content>
    </md-card>
  </div>
  <div>
    <md-button class="md-primary" ng-click="showhint=true" ng-hide="showhint">
      <md-icon>&#xE8FD;</md-icon >
    </md-button>
    <md-card  style="min-width:0px;max-width:200px;" ng-show="showhint">
      <md-toolbar   class="md-table-toolbar md-default" >
        <div class="md-toolbar-tools" >
            <span>Hints</span>
            <md-button class="md-primary" ng-click="showhint=false" >
              <md-icon style="color:rgb(63,81,181);">&#xE8FD;</md-icon >
            </md-button>
        </div>
      </md-toolbar>
      <md-content  flex="auto" layout-padding>
        <p class="md-body-1">Here we setup apm access information to store in the Portal DB</p>
        <p class="md-body-1">Password is not encrypted in the Portal DB</p>
        <p class="md-body-1">When Bulk download is used all Portal category/acls groups are reset</p>
      </md-content>
    </md-card>
  </div>
</div>
