  <div>
    <md-card flex="nogrow">
      <md-toolbar class="md-table-toolbar md-default" >
        <div class="md-toolbar-tools" >
            <span>Category: {{urlcategory.name}}</span>
            <span flex></span>
            <md-progress-circular md-diameter='50%' md-mode="indeterminate" ng-hide="progressbar"></md-progress-circular>
        </div>
      </md-toolbar>
      <md-table-container >
        <table md-table   md-progress="promise">
          <thead md-head >
            <tr md-row>
              <th md-column md-numeric>#</th>
              <th md-column >Urls</th>
              <th md-column style="text-align:center;">
                <md-button class="md-icon-button" aria-label="Push to APM" ng-click="showConfirmpush($event)">
                  <md-tooltip>Push to APM</md-tooltip>
                  <i class="material-icons" style="color:rgb(63,81,181);font:bold;" >&#xE2C6;</i>
                </md-button>
                <md-button class="md-icon-button" aria-label="Pull from APM" ng-click="showConfirmpull($event)">
                  <md-tooltip>Pull from APM</md-tooltip>
                  <i class="material-icons" style="color:rgb(63,81,181);font:bold;">&#xE2C4;</i>
                </md-button>
              </th>
            </tr>
          </thead>
          <tbody md-body>
            <tr md-row  ng-repeat="url in urlcategory.urls" align=center>
               <td md-cell>{{$index+1}}</td>
               <td md-cell><p  class="md-body-2" >{{url.name}}</p></td>
               <td md-cell ng-click="removeUrl(url._id)" flex style="text-align:center;"><i class="material-icons" >&#xE872;</i></td>
             </tr>
           </tbody>
        </table>
      </md-table-container>
      <md-content layout-padding>
        <div >
          <form name="newUrlform">
            <div layout="row" layout-align="center center" flex="nogrow" >
              <md-input-container >
                <label>Add an Url:</label>
                <md-icon md-font-icon="material-icons">&#xE150;</md-icon>
                <input name="newurl" ng-model="newurl.urlname" required>
              </md-input-container>
              <div flex="nogrow" layout-align="center center">
                <md-button type="submit" class="md-primary"
                  ng-class="{'md-raised md-hue-1': (newUrlform.$dirty && newUrlform.$valid) }"
                  ng-click="newUrlform.$valid && addUrl(newUrlform)">Add Url</md-button>
                </div>
            </div>
        </form>
      </div>
      </md-content>
    </md-card>
  </div>
  <div>
    <md-button class="md-primary" ng-click="showhint=true" ng-hide="showhint">
      <i class="material-icons">&#xE8FD;</i>
    </md-button>
    <md-card  style="min-width:0px;max-width:200px;" ng-show="showhint">
      <md-toolbar   class="md-table-toolbar md-default" >
        <div class="md-toolbar-tools" >
            <span>Hints</span>
            <md-button class="md-primary" ng-click="showhint=false" >
              <i class="material-icons" style="color:rgb(63,81,181);">&#xE8FD;</i>
            </md-button>
        </div>
      </md-toolbar>
      <md-content  flex="auto" layout-padding>
        <p class="md-body-1">Enter urls with schema : http or https</p>
        <p class="md-body-1">Use * a the end to apply glob-match</p>
        <p class="md-body-1">Changes are not updated automatically to APM, use arrow up icon to push to APM</p>
        <p class="md-body-1">If you want to retrieve APM category configuration, use arrow down icon to pull from APM</p>
        </md-content>
    </md-card>
  </div>
