{
  "metadata": {
    "name": "${workload_name}",
    "namespace": "${namespace}",
    "labels": {},
    "annotations": {},
    "description": "Default config with one OAS from API call",
    "disable": false
  },
  "spec": {
    "service": {
      "num_replicas": 1,
      "containers": [
        {
          "name": "redoc-oss-public-api",
          "image": {
            "name": "containeremeasapublic.azurecr.io/redoc-oss:v1",
            "public": {},
            "pull_policy": "IMAGE_PULL_POLICY_DEFAULT"
          },
          "init_container": false,
          "flavor": "CONTAINER_FLAVOR_TYPE_TINY",
          "command": [],
          "args": []
        }
      ],
      "volumes": [],
      "configuration": {
        "parameters": [
            {
             "file": {
                "name" : "index.html",
                "data" : "string:///${index_file}",
                "volume_name": "index",
                "mount": {
                    "mode": "VOLUME_MOUNT_READ_ONLY",
                    "mount_path": "/usr/share/nginx/html"
                }
             }
           }
        ]
      },
      "deploy_options": {
        "deploy_re_virtual_sites": {
          "virtual_site": [
            {
              "tenant": "f5-emea-ent-bceuutam",
              "namespace": "${namespace}",
              "name": "par-re-only",
              "kind": "virtual_site"
            }
          ]
        }
      },
      "advertise_options": {
        "advertise_on_public": {
          "port": {
            "port": {
              "info": {
                "port": 8080,
                "protocol": "PROTOCOL_TCP",
                "same_as_port": {}
              }
            },
            "http_loadbalancer": {
              "domains": [
                "${http_lb_domain}"
              ],
              "https_auto_cert": {
                "http_redirect": true,
                "add_hsts": false,
                "port": 443,
                "tls_config": {
                  "default_security": {}
                },
                "no_mtls": {},
                "default_header": {},
                "enable_path_normalize": {},
                "non_default_loadbalancer": {},
                "header_transformation_type": {
                  "default_header_transformation": {}
                },
                "connection_idle_timeout": 120000,
                "http_protocol_options": {
                  "http_protocol_enable_v1_v2": {}
                }
              },
              "default_route": {
                "auto_host_rewrite": {}
              }
            }
          }
        }
      }
    }
  }
}
