.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

md-card {
  min-width:350px;
}
/*.alert {display:inline-block;}*/
md-toolbar md-font-icon.md-default-theme {
  color: white; }
/* sidenav adjust size*/
md-sidenav,
md-sidenav.md-locked-open,
md-sidenav.md-closed.md-locked-open-add-active {
    min-width: 200px !important;
    width: 85vw !important;
    max-width: 200px !important;

}
/*correcting icon positionning in fab*/

i.myfab {
  position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -12px;
    margin-top: -12px;

}

/* from material training demo*/
html, body {
  font-family: 'Roboto', sans-serif;
  font-size:14px;
  height:100%;
  margin: 0px;
  padding: 0px;
}

/** Enabled Step 3... */

md-toolbar {
 height:70px;
}

md-toolbar h3 {
  margin: auto;
  font-weight: 500;
}

#content  {
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 5px;
}
